.download {
  .font-open-sans(14px; white; lighter; 24px);
  background: @blacknblue;
}
.download__wrapper {
  max-width: 340px;
  text-align: center;
}
.download__list {
  display: flex;
}
.download__title {
  .font-open-sans(40px; white; lighter; normal);
  display: none;
}
.download__btn {
  .font-open-sans(18px; white; bold; 18px)
}
@media @tablet-widths{
  .download {
    background: transparent url("../img/iphone-hand-tablet@1x.png") no-repeat;
    min-height: 542px;
    background-position: 200px 0;
    display: flex;
    flex-direction: column;
    margin-left: 7%;
  }
  .download__title {
    display: block;
  }
}
