.dropdown-menu {
  background: #2b3b4b url("../img/bg-back-tablet@1x.png") no-repeat;
  background-size: cover;
  min-height: 400px;
  outline: 1px solid blue;
  position: relative;
  z-index: -1;
}

.dropdown-menu__top {
  background-color: rgba(0, 0, 0, 0.3);
}

.dropdown-menu__drop {
  outline: 1px solid red;
  background-color: #283645;
  display: none;
}

.dropdown-menu--text {
  .set-font(24px; white; lighter; normal);
}

.dropdown-menu__logo {
  border-bottom: 1px solid #030303;
}


.dropdown-menu {
  @media @tablet-widths {
    min-height: 730px;
  }
}

.dropdown-menu__top {
  @media @tablet-widths {
    min-height: 100px;
  }
}

.dropdown-menu--picture {
  @media @tablet-widths {
    display: none;
  }
}
