.dropdown-menu {
  background-size: cover;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: -110px;
  @media @mobile-widths {
    margin-bottom: -66px;
  }
}

.dropdown-menu__top {
  position: relative;
    @media @mobile-widths {
      min-height: 66px;
    }

    @media @tablet-widths {
      min-height: 110px;
    }
}

.dropdown-menu__drop {
  outline: 1px solid red;
  background-color: #283645;
  display: none;
}

.dropdown-menu--text {
  .set-font(24px; white; lighter; normal);
}

.dropdown-menu__logo {
  border-bottom: 1px solid #030303;
}

.dropdown-menu--picture {
  @media @tablet-widths {
    display: none;
  }
}

.dropdown-menu__button {
  @media @tablet-widths {
    right: 40px;
  }
  position: absolute;
  right: 20px;
  top: 50%;
  width: 50px;
  height: 4px;
  background: white;
  border: none;
  box-shadow: 0 10px 0 0 white,
  0 -10px 0 0 white;

  @media @desktop-widths {
    display: none;
  }
}
