.form__item,
.form__item--color {
  border: none;
}

.form__item--color {
  background-color: #f2f2f2;
}

.form {
  outline: 1px solid red;
}

.form__title {
  .font-open-sans(14px; @dark-blue; normal; 30px);
}

.form__title--pink {
  .font-open-sans(14px; @pink; normal; 18px);
}

.form__item label, .form__title--pink {
  text-transform: uppercase;
}
