.main-nav {
  .set-font(18px; white; bold; 32px);
  text-transform: uppercase;
  display: none;
}
.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav__item {
  border-bottom: 1px solid #030303;
  border-top: 1px solid #495562;
  display: flex;
  text-align: center;
  box-sizing: border-box;
}
.main-nav__item {
  a {
    text-decoration: none;
    color: white;
    flex-grow: 1;
    padding: 15px;
  }
}

.main-nav {
  @media @desktop-widths {
    display: block;
  }
}

.main-nav__list {
  @media @desktop-widths {
    display: flex;
  }
}

.main-nav__item {
  @media @desktop-widths {
    border: none;
    .set-font(18px; white; normal; 18px);
  }
}
