.main-nav {
  outline: 1px solid grey;
}
.main-nav__list {
  list-style: none;
}

.main-nav__list {
  padding:0;
  margin:0;
}

.main-nav__item a {
  .font(18px; white; bold; 32px);
  text-decoration: none;
}
