.set-font(@size; @font-color; @font-weight; @line-height) {
  font-size: @size;
  color: @font-color;
  font-weight: @font-weight;
  line-height: @line-height;
}

.container() {
  width: 87%;
  margin: 0 auto;
}

.container-tablet() {
  width: 620px;
  margin: 0 auto;
}

.toggle() {
  content: '';
  position: absolute;
  background-color: @grey;
  width: 10px;
  height: 10px;
  border: 2px solid @pink;
  border-radius: 50%;
}
