.font-open-sans(@size; @font-color; @font-weight; @line-height) {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: @size;
  color: @font-color;
  font-weight: @font-weight;
  line-height: @line-height;
}
