.page-header {
  .container-fluid ();
  background-size: cover;
  color: white;
}

.page-header__inner{
  display: flex;
  flex-direction: column;
}

@media @tablet-widths {
  .page-header {
    margin-bottom: -541px;
  }
}
