.posts {
  .font-open-sans(14px; @dark-blue; normal; 24px);
  outline: 1px solid red;
}

.posts__item {
  background-color: @grey;
}

.posts__author {
  .font-open-sans(14px; black; bold; 24px);
}

.posts__time {
  text-transform: uppercase;
}

.posts__like {
  .font-open-sans(12px; @pink; normal; 24px)
}
