.posts {
  .set-font(14px; @dark-blue; normal; 24px);
}

.posts__panorama {
  @media @mobile-widths {
    background: url("../img/panorama-mobile@1x.jpg") no-repeat;
    height: 137px;
    background-size: cover;
  }

  @media @tablet-widths {
    background: url("../img/panorama-tablet.jpg") no-repeat;
    background-size: cover;
    height: 509px;
  }

  @media @desktop-widths {
    height: 506px;
    background: url("../img/panorama-desktop.jpg") no-repeat;
    background-size: cover;
  }
}

.posts__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 89%;
  margin: auto;
  @media @tablet-widths {
    justify-content: space-between;
  }
}

.posts__item {
  background-color: @grey;
  margin-bottom: 20px;
  @media @mobile-widths {
    flex-basis: 100%;
  }

  @media @tablet-widths {
    flex-basis: 48%;
  }

  @media @desktop-widths {
    flex-basis: 31%;
  }
}

.posts__title {
  background-color: @grey;
  margin: auto;
  width: 89%;
}

.posts__author {
  .set-font(14px; black; bold; 24px);
}

.posts__time {
  text-transform: uppercase;
}

.posts__like {
  .set-font(12px; @pink; normal; 24px)
}

.posts__wrapper {
  width: 89%;        /* 640px / 768px ~= 84% */
  max-width: 1200px;  /* 960px / .84 ~= 1142px (центровка начнётся чуть раньше 1200px) */
  margin: 0 auto;
}
