.profit {
  .set-font(14px; @dark-blue; lighter; 24px);
  display: none;
}

.profit__title {
  .set-font(40px; black; bold; 40px);
}

.profit__link {
  .set-font(14px; @pink; lighter; 24px);
}

.profit {
  @media @tablet-widths {
    display: flex;
  }
}

.profit__stopwatch {
  @media @tablet-widths {
    width: 100%;
    text-align: center;
  }
}

.profit__wrapper {
  @media @tablet-widths {
    flex-grow: 1;
  }
}
