.copyright {
  .set-font(14px; @dark-blue; normal; 18px);
  margin-top: 28px;
  @media @tablet-widths {
    margin-top: 8px;
  }
}
.copyright__item {
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  @media @desktop-widths {
    font-size: 18px;
  }
}
.copyright__link {
  padding: 31px 1px 2px;
  img {
    width: 45px;
  }
}
.copyright__picture {
  width: 42px;
  fill: @pink;
  &:hover {
    fill: @dark-blue;
  }
  &:active {
    fill: @dark-blue;
    opacity: 0.3;
  }
}
