.input-group--pink {
  .set-font(14px; @pink; normal; 30px);
}
.input-group--dark-blue {
  .set-font(18px; @dark-blue; normal; 30px);
}
.input-group {
  position: relative;
  input {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #e5e5e5;
    padding: 14px 19px;
    @media @desktop-widths {
      padding: 13px 20px 16px;
    }
  }
}
.input-group__label--phone {
  &::after {
    display: none;
    content: '';
    position: absolute;
    width: 60px;
    height: 59px;
    right: 2px;
    top: -61px;
    background: #e5e5e5 url("../img/icon-phone.svg") no-repeat 20px 20px;
    z-index: 10;
    @media @desktop-widths {
      display: block;
    }
  }
}
.input-group__label--mail {
  &::after {
    display: none;
    content: '';
    position: absolute;
    width: 60px;
    height: 59px;
    right: 2px;
    top: -61px;
    background: #e5e5e5 url("../img/icon-mail.svg") no-repeat 20px 20px;
    z-index: 10;
    @media @desktop-widths {
      display: block;
    }
  }
}
