.page-footer {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  justify-content: space-between;
  padding: 35px 4% 0 6%;

  &--absent {
    @media @mobile-widths {
      display: none;
    }
  }
}
