.page-header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: -110px;
  z-index: 10;
  @media @mobile-widths {
    margin-bottom: 0;
  }
  @media @tablet-widths {
    min-height: 110px;
  }
  @media @tablet-widths-max {
    display: flex;
    flex-direction: column;
  }
  @media @desktop-widths {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10.6%;
  }
}
.page-header__nav {
  @media @mobile-widths {
    order: -1;
    padding-top: 70px;
    background-color: @dark-blue;
  }
  @media @desktop-widths {
    flex-basis: 66%;
  }
}
.page-header__logo {
  margin: 0;
  @media @mobile-widths {
    margin-left: 21px;
    margin-top: 21px;
    width: 76px;
  }
  @media @tablet-widths {
    padding: 26px 0 0 36px;
    width: 158px;
  }
  @media @desktop-widths {
    padding: 0;
    flex-basis: 17%;
  }
}
.page-header__logo-img {
  &--mobile {
    @media @mobile-widths {
      padding-left: 22px;
      display: block;
    }
    display: none;
  }
  &--tablet {
    @media @tablet-widths and @tablet-widths-max {
      display: block;
    }
    display: none;
  }
  &--desktop {
    @media @desktop-widths {
      display: block;
    }
    display: none;
  }
}
.page-header__logo-img--tablet {
  fill: white;
  &:hover {
    fill: @pink;
  }
  &:active {
    opacity: 0.3;
    fill: white;
  }
}
.page-header__btn {
  width: 48px;
  height: 3px;
  cursor: pointer;
  position: absolute;
  top: 21px;
  right: 21px;
  @media @tablet-widths {
    top: 43px;
    right: 41px;
  }
  @media @tablet-widths-max {
    &::after,
    &::before {
      content: '';
      display: block;
      width: 48px;
      height: 3px;
      background-color: white;
    }
  }
  span::before {
    transform: rotate(45deg);
  }
  @media @desktop-widths {
    display: none;
  }
}
.page-header__picture {
  @media @tablet-widths and @tablet-widths-max {
    display: none;
  }
}
.page-header__wrapper {
  position: relative;
  height: 69px;
  background: @dark-blue;
  border-bottom: 1px solid black;
  @media @desktop-widths {
    background: transparent;
  }
}
