.page-main__title {
  text-align: center;
  @media @mobile-widths {
    .set-font(14px; @dark-blue; normal; 30px);
    padding: 33px 7% 26px;
    &--photo {
      padding: 33px 11% 37px;
    }
    &--second {
      padding: 9px 10% 31px;
    }
  }

  @media @tablet-widths {
    .set-font(18px; @dark-blue; normal; 30px);
    // padding: 78px 18% 60px;
    padding: 78px 15% 55px;

    &--photo {
      padding: 78px 15% 60px;
    }

    &--second {
      padding: 33px 18% 55px;
    }
  }

  @media @desktop-widths {
    padding: 78px 25% 71px;
    &--second {
      padding: 4px 18% 65px;
      margin: 0;
    }
  }
}

.page-main__hid {
  @media @mobile-widths {
    display: none;
  }
}
