.second-header {
  position: relative;
  background-size: cover;
  @media @mobile-widths {
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
    @media @retina and @mobile-widths {
      background: url("../img/bg-back-mobile@2x.jpg") no-repeat;
    }
    background-position: 48% 0;
    min-height: 237px;
    &--picture  {
      min-height: 460px;
    }
    &--picture::after {
      content: '';
      position: absolute;
      background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
      width: 258px;
      height: 286px;
      bottom: 0;
      left: 0;
      @media @retina and @mobile-widths {
        background: url("../img/iphone-hand-mobile@2x.png") no-repeat;
        background-size: contain;
        background-position: 0 100%;
      }
    }
  }

  @media @tablet-widths {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
    @media @retina and @tablet-widths {
      background: url("../img/bg-back-tablet@2x.jpg") no-repeat;
    }
    min-height: 440px;
    &--picture {
      min-height: 729px;
    }
    &--picture::after {
      content: '';
      position: absolute;
      background: url("../img/iphone-hand-tablet@1x.png") no-repeat;
      bottom: 0;
      right: 0;
      width: 700px;
      height: 545px;
      @media @retina and @tablet-widths {
        background: url("../img/iphone-hand-tablet@2x.png") no-repeat;
        background-size: contain;
        background-position: 0 100%;
      }
    }
  }

  @media @desktop-widths {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    min-height: 395px;
    &--picture {
      min-height: 853px;
    }

    &--picture::after {
      bottom: 0px;
      right: 3px;
      width: 1050px;
      height: 645px;
      background: url("../img/iphone-hand-desktop@1x.png") no-repeat;
      @media @retina and @desktop-widths {
        background: url("../img/iphone-hand-desktop@2x.png") no-repeat;
        background-size: contain;
        background-position: 0 100%;
      }
    }
  }
}

.second-header__title {
  margin: 0;
  text-align: center;
  @media @tablet-widths {
    .set-font(50px; white; lighter; 60px);
    padding: 180px 13% 0;
  }

  @media @desktop-widths {
    padding-top: 173px;
  }

  &--alt {
    .set-font(40px; white; lighter; 49px);
    display: inline-block;
    text-align: center;
    @media @mobile-widths {
      display: none;
    }

    @media @tablet-widths {
      padding-top: 203px;
      padding-left: 95px;
    }

    @media @desktop-widths {
      .set-font(50px; white; lighter; 60px);
      padding-top: 218px;
      padding-left: 162px;
    }
  }

  &--small {
    @media @mobile-widths {
    .set-font(24px; white; lighter; 30px);
    padding: 95px 13% 0;
    }
  }
}
