.second-header {
  background: transparent url("../img/bg-back-mobile@1x.jpg") no-repeat;
  position: relative;
  background-size: cover;
  @media @mobile-widths {
    background-position: 48% 0;
    min-height: 237px;
    &--picture  {
      min-height: 460px;
    }
    &--picture::after {
      content: '';
      position: absolute;
      background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
      width: 258px;
      height: 286px;
      bottom: 0;
      left: 0;
    }
  }

  @media @tablet-widths {
    min-height: 440px;
    &--picture {
      min-height: 729px;
    }
    &--picture::after {
      content: '';
      position: absolute;
      background: transparent url("../img/iphone-hand-tablet@1x.png") no-repeat;
      bottom: 0;
      right: 0;
      width: 700px;
      height: 545px;
    }
  }

  @media @desktop-widths {
    min-height: 853px;
  }
}

.second-header__title {
  margin: 0;
  text-align: center;
  @media @tablet-widths {
    .set-font(50px; white; lighter; 60px);
    padding-top: 180px;
  }
  &--alt {
    .set-font(40px; white; lighter; 49px);
    display: inline-block;
    text-align: center;
    @media @mobile-widths {
      display: none;
    }

    @media @tablet-widths {
      padding-top: 203px;
      padding-left: 95px;
    }

    @media @desktop-widths {
      .set-font(50px; white; lighter; 60px);
      padding-top: 218px;
      padding-left: 162px;
    }
  }

  &--small {
    @media @mobile-widths {
    .set-font(24px; white; lighter; 30px);
    padding-top: 95px;
    }
  }
}
