.social-links {
  display: flex;
  @media @mobile-widths {
    padding-top: 26px;
  }
}

.social-links__item {
    padding: 10px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #e9ebec;
    width: 22px;
    height: 22px;
    &--fb {
      img {
        position: relative;
        left: 5px;
      }
    }

    &--yt {
      img {
        position: relative;
        left: 4px;
      }
    }
}
